<a href="https://colab.research.google.com/github/alxkzncoff/rds6_car_price_prediction_ml_dl/blob/main/car_price_ml_dl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
DATA_PATH = '/content/drive/My Drive/skill_factory_car_price_prediction_ml_dl'

In [3]:
import pandas as pd

In [18]:
cars = pd.read_csv(DATA_PATH+'/train.csv')

# Описание признаков

- **bodyType** - категориальный
- **brand** - категориальный
- **color** - категориальный
- **description** - текстовый
- **engineDisplacement** - числовой, представленный как текст
- **enginePower** - числовой, представленный как текст
- **fuelType** - категориальный
- **mileage** - числовой
- **modelDate** - числовой
- **model_info** - категориальный
- **name** - категориальный, желательно сократить размерность
- **numberOfDoors** - категориальный
- **price** - числовой, целевой
- **productionDate** - числовой
- **sell_id** - изображение (файл доступен по адресу, основанному на sell_id)
- **vehicleConfiguration** - не используется (комбинация других столбцов)
- **vehicleTransmission** - категориальный
- **Владельцы** - категориальный
- **Владение** - числовой, представленный как текст
- **ПТС** - категориальный
- **Привод** - категориальный
- **Руль** - категориальный

In [19]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6682 entries, 0 to 6681
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bodyType              6682 non-null   object
 1   brand                 6682 non-null   object
 2   color                 6682 non-null   object
 3   description           6682 non-null   object
 4   engineDisplacement    6682 non-null   object
 5   enginePower           6682 non-null   object
 6   fuelType              6682 non-null   object
 7   mileage               6682 non-null   int64
 8   modelDate             6682 non-null   int64
 9   model_info            6682 non-null   object
 10  name                  6682 non-null   object
 11  numberOfDoors         6682 non-null   int64
 12  price                 6682 non-null   float64
 13  productionDate        6682 non-null   int64
 14  sell_id               6682 non-null   int64
 15  vehicleConfiguration  6682 non-null   object
 16  vehicleTransmission   6682 non-null   object
 17  Владельцы             6681 non-null   object
 18  Владение              2356 non-null   object
 19  ПТС                   6682 non-null   object
 20  Привод                6682 non-null   object
 21  Руль                  6682 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 1.1+ MB

In [15]:
cars.brand.unique()

array(['BMW', 'AUDI', 'MERCEDES'], dtype=object)